{% extends "base.html.twig" %}

{% block title %} Nos Locations Disponibles{% endblock %}



{% block h1 %}

Nos Locations Disponibles

{% endblock %}


{% block body %}


 <div class="row justify-content-around pb-4">


<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image1.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image2.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image3.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image4.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image5.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image6.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image7.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image8.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="{{ asset ('images/image9.jpg') }}" class="card-img-top" alt="..." width="50" height ="175">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Réserver</a>
  </div>
</div>






{% endblock body %}
    
