{% extends 'base.html.twig' %}

{% block title %}tout Vols!{% endblock %}

{% block body %}



    <div class="row justify-content-end">
        <a class="btn btn-primary col-md-2 m-2" href="{{ 'vol_ajouter' }}">Ajouter un vol</a>
    </div>

    <table class="table table-dark text-center">
    <thead>
        <tr>
            <th>N° vol</th>
            <th>Compagnie</th>
            <th>HeureDepart</th>
            <th>HeureRetour</th>
            <th>JourDepart</th>
            <th>JourRetour</th>
            <th>VilleDepart</th>
            <th>VilleRetour</th>
            <th>prix</th>
            <th>modifier</th>
            <th>supprimer</th>
        </tr>
    </thead>
    <tbody>

        {% for vol in vols %}

        <tr>
            <td>{{vol.numeroVol}}</td>
            <td>{{ vol.nomCompagny}}</td>
            <td>{{vol.heureDepart  | date("H:i")}}</td>
            <td>{{vol.heureArrivee | date("H:i")}}</td>
            <td>{{vol.dateDepart | date("d-m-Y")}}</td>
            <td>{{vol.dateArrivee| date("d-m-Y")}}</td>
            <td>{{vol.villeDepart.name}}</td>
            <td>{{vol.villeArrivee.name}}</td>
            <td>{{vol.prix}}</td>
            <td>
                <a href="{{ path("vol_modifier", {"id":vol.id} ) }}">
                    <img src="{{ asset('images/update.png') }}" alt="">
                </a>
            </td>

            <td>
                <a href="{{ path("delete_vol", {"id":vol.id} ) }}" onclick="return confirm('Confirmez-vous la suppression du produit?')">
                    <img src="{{ asset('images/delete.png') }}" alt="">
                </a>
            </td>
        </tr>

        {% endfor %}

    </tbody>
    </table>


   
        
   
    

{% endblock %}
